.container-drag {
  text-align: center;
  clear: both;
  width: 90%;
  margin: 20px auto;
}

.common {
  width: 400px;
  height: 150px;
  margin: 20px auto;
  background-color: #eeeeee;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.wrapper {
  margin-bottom: 20px;
}

.taskHeader {
  display: inline-block;
  background-color: rgba(9, 136, 186, 0.51);
  color: white;
  width: 100%;
}

.droppableContainer {
  width: 300px;
  height: 150px;
  display: inline-block;
  background-color: #d5c9c9;
  margin: 0 20px 20px 0;
}

.draggable {
  width: 50px;
  height: 50px;
  margin: 5px;
  float: left;
  line-height: 3em;
  background: rgb(204, 233, 14);
  border-radius: 5px;
  border: 1px solid;
}

.resetBtn {
  color: white;
  background: black;
  padding: 10px;
}